/* General styles */
body {
    font-family: 'Manrope';
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

/* Smooth loading */
body.loaded {
    opacity: 1;
}

body, html {
    scroll-behavior: smooth; /* Smooth scrolling */
}

.medicine-depth-0 {
    padding: 10px;
    height: 100vh;
    width: 100%;
    display: flex;
    box-sizing: border-box;
}

.medicine-nav-depth-1 {
    width: 25%;
    margin: 0;
    padding: 10px;
    padding-left: 50px;
    background-color: #fff;
    box-sizing: border-box;
}

.medicine-container-depth-1 {
    width: 75%;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
}

.medicine-nav-depth-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.medicine-nav-depth-3-links {
    width: 95%;
    margin-top: 25px;
    padding: 20px;
}

.medicine-nav-depth-3-logout {
    width: 100%;
    align-self: flex-start;
    margin-bottom: 50px;
    padding: 5px 10px;
}

.medicine-nav-depth-3-logout a {
    text-decoration: none;
    font-size: 1.2rem;
    color: #000000;
    padding: 5px 10px;
    display: block;
    width: 100%;
}

.medicine-nav-depth-3-logout a:hover {
    background-color: #f0f0f0;
    border-radius: 5px;
}


.home-logo-img {
    width: 10%;
    display: block;
    margin-bottom: 20px;
}

.medicine-nav-depth-4-logo {
    width: 100%;
}

.medicine-nav-depth-4-links ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.medicine-nav-depth-4-links ul li {
    margin-bottom: 10px;
}

.medicine-nav-depth-4-links ul li a {
    text-decoration: none;
    font-size: 1.2rem;
    color: black;
    padding: 5px 10px;
    display: block;
}

.medicine-nav-depth-4-links ul li a:hover {
    background-color: #f0f0f0;
    border-radius: 5px;
}

/* add medicine */
.medicine-container-depth-2-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.form-field-add-medicine {
    margin-bottom: 10px;
}

.add-medicine-form {
    width: 100%;
}

.form-field-add-medicine label {
    display: block;
    margin-bottom: 5px;
}

.form-field-add-medicine input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    width: 50%;
    color: #000;
}

.form-field-add-medicine input::placeholder {
    color: rgba(0, 0, 0, 0.5); /* set placeholder text color to 50% opacity */
}

.button-add-medicine {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-items: center;
    
}

.button-add-medicine:hover {
    background-color: #0056b3;
}



/* View medicine */
.medicine-container-depth-2-head-med {
    margin-bottom: 20px;
    margin-top: 25px;
}

.medicine-container-depth-2-head-med h1 {
    margin: 0;
    font-size: 24px;
    color: #000;
}

.medicine-container-depth-2-search-med {
    display: flex;
    margin-bottom: 50px;
}

.medicine-container-depth-2-content-med {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-right: 5%;
    height: 60%;
}

.medicine-container-depth-2-content-med table {
    width: 100%;
    border-collapse: collapse;
}

.medicine-container-depth-2-content-med table th,
.medicine-container-depth-2-content-med table td {
    padding: 20px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    height: 5%;
}

.medicine-container-depth-2-content-med table thead {
    background-color: #f9f9f9;
    font-weight: bold;   
}

.medicine-container-depth-2-content-med table tr:hover {
    background-color: #f1f1f1;
}

.medicine-container-depth-2-content-med table td a {
    text-decoration: none;
    color: #007bff;
}

.medicine-container-depth-2-content-med table td a:hover {
    text-decoration: underline;
}

.button-delete-medicine {
    padding: 10px 20px;
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button-delete-medicine:hover {
    background-color: #d93636;
}