/* General styles */
body {
    font-family: 'Manrope';
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

/* Smooth loading */
body.loaded {
    opacity: 1;
}

body, html {
    scroll-behavior: smooth; /* Smooth scrolling */
}

.home-logo-img {
    width: 10%;
    display: block;
    margin-bottom: 20px;
}

.pharma-depth-0 {
    padding: 10px;
    height: 100vh;
    width: 100%;
    display: flex;
    box-sizing: border-box;
}

.pharma-nav-depth-1 {
    width: 25%;
    margin: 0;
    padding: 10px;
    padding-left: 50px;
    background-color: #fff;
    box-sizing: border-box;
}



.pharma-nav-depth-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.pharma-nav-depth-3-links {
    width: 95%;
    margin-top: 25px;
    padding: 20px;
}

.pharma-nav-depth-3-logout {
    width: 100%;
    align-self: flex-start;
    margin-bottom: 50px;
    padding: 5px 10px;
}

.pharma-nav-depth-3-logout a {
    text-decoration: none;
    font-size: 1.2rem;
    color: #000000;
    padding: 5px 10px;
    display: block;
    width: 100%;
}

.pharma-nav-depth-3-logout a:hover {
    background-color: #f0f0f0;
    border-radius: 5px;
}

.pharma-nav-depth-4-logo {
    width: 100%;
}

.pharma-nav-depth-4-links ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.pharma-nav-depth-4-links ul li {
    margin-bottom: 10px;
}

.pharma-nav-depth-4-links ul li a {
    text-decoration: none;
    font-size: 1.2rem;
    color: black;
    padding: 5px 10px;
    display: block;
}

.pharma-nav-depth-4-links ul li a:hover {
    background-color: #f0f0f0;
    border-radius: 5px;
}



.pharma-container-depth-1 {
    width: 75%;
    margin: 0 0 5% 0;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
}

#invoice-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
    overflow-x: hidden;
}



#invoice-form label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    color: #333;
}

#invoice-form input,
#invoice-form select {
    width: 50%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}





.invoice-summary-container {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 20px;
}






button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

table th {
    background-color: #f8f8f8;
}

table td button {
    padding: 5px 10px;
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

table td button:hover {
    background-color: #d93636;
}
